@charset "UTF-8";

:root {
  --basic-gap: 5px;
  --small-gap: 2px;
  --basic-radius: 5px;
}

html {
  font-size: 62.5%;
}

body {
  padding: 10px;
  font-size: 1.2rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
